{% extends 'layout_admin.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Mon Dashboard</li>
        </ol>

        {% for message in app.flashes('notice') %}
            <div class="flash-notice alert alert-success" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

    </div>
    <!-- /.container-fluid-->
{% endblock %}