<div class="card-header">
    <i class="fa fa-table"></i> Tableau des Langues</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Nom de la langue</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for language in entities  %}
                <tr>
                    <td>{{ language.name }}</td>
                    <td>
                        <button name="language" data-filter="{{ language.id }}" class="btn btn-primary edit-info"><i class="fa fa-pencil"></i> Editer</button>
                        <a href="{{ path('Delete language', {id : language.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="card-btn col-md-3">
    <button class="btn btn-success add-info" data-filter="language"><i class="fa fa-plus"></i> Ajouter</button>
</div>

{#<script src="{{ asset('js/admin/edit-ajax.js') }}"></script>#}