{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/cv/cv.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{{ include(':inc:cv-include.html.twig') }}

<footer class="footer">
    <div class="text-center">
        <a href="{{ path('CV') }}" class="btn btn-success download text-white"><i class="fa fa-download"></i>  Télécharger en PDF</a>
    </div><!--//container-->
</footer><!--//footer-->


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cv/cv.js') }}"></script>
{% endblock %}
