{#Navigation#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('Dashboard') }}">Administration</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'Dashboard' %}active-link{% endif %}" href="{{ path('Dashboard') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="A propos">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'Edit about' %}active-link{% endif %}" href="{{ path('Edit about', {'id' : 1}) }}">
                    <i class="fa fa-edit"></i>
                    <span class="nav-link-text">A propos</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ajouter un projet">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'Add project' %}active-link{% endif %}" href="{{ path('Add project') }}">
                    <i class="fa fa-plus"></i>
                    <span class="nav-link-text">Ajouter un projet</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Modifier le CV">
                <a class="nav-link " href="#">
                    <i class="fa fa-edit"></i>
                    <span class="nav-link-text">Modifier le CV</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>