img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}


#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 500px;
    width: 100%;
    /*margin: 0 auto;*/
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(240,95,64,0.5);
    z-index: 3;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal {
    padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}



/* ================ Menu Category ================ */

#portfolio .portfolio-menu
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0 0 50px 0;
}

#portfolio .filter-button
{
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 8px 10px;
    background-color: rgb(229,229,229);
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
}

#portfolio .active-category, #portfolio .filter-button:hover
{
    background-color: #F05F40;
    color: white;
    border-bottom: 4px solid #DD2C00;
    position: relative;
    cursor: pointer;
}

.first {
    border-radius: 25px 0 0 25px;
}

.portfolio-menu li:last-child {
    border-radius: 0 25px 25px 0;
}

@media all and (max-width: 480px) {
    #portfolio .portfolio-menu {
        flex-direction: column;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .first {
        border-radius: 0;
    }

    .portfolio-menu li:last-child {
        border-radius: 0;
    }
}

/* ================ Album Portfolio ================ */

.projets_album
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

figure img
{
    width: 100%;
}

figure
{
    position: relative;
    overflow: hidden;
    /*margin: 15px;*/
    border: solid 5px #ffffff;
    max-height: 300px;
    max-width: 500px;
    margin: 0;
}

figcaption
{
    text-align: center;
    position: absolute;
    background: rgba(33,37,41,0.6);
    color: white;
    width: 100%;
    padding: 0 10px;;
    left: 0;
    bottom: 0;
}

figcaption h3
{
    color: white;
    margin: 10px 0 0 0;
}

figcaption p
{
    margin: 10px 0;
}

/* ================ Footer ================ */

#lab_social_icon_footer {
    padding: 40px 0;
    background-color: #dedede;
}

#lab_social_icon_footer a {
    color: #FFFFFF;
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}

/*
    Nav portfolio
 */

#portfolio .navigation li {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.page-item.active .page-link {
    background-color: #F05F40;
    border-color: #F05F40;
}

.page-link {
    color: #F05F40;
}

a.page-link:hover {
    color: #D50000;
}

/* LOADING OVERLAY */
#loading {
    /*   width: 60px; */
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:60px;
    margin: auto;
    text-align: center;
}
.loading-text {
    color: #F05F40;
    display: inline-block;
    /*   margin: 0 0 0 -25px; */

    font-weight: 300;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F05F40;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}
